.feedback-form {
  width: 408px;
  height: 256px;
  margin: 30px auto;
  padding: 24px 0 24px 24px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 16px;
  border-radius: 8px;
  border: 1px solid gray;
  background-color: #fff;
}

.feedback-form label {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  text-align: start;
}

.feedback-form input {
  display: block;
  margin-top: 8px;
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
  padding: 0 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.feedback-form textarea {
  display: block;
  margin-top: 8px;
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 80px;
  padding: 0 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  resize: none;
}

.feedback-form input:hover,
.feedback-form input:focus,
.feedback-form textarea:hover,
.feedback-form textarea:focus {
  border: 1px solid #000;
  outline: none;
}

.feedback-form button {
  border-radius: 8px;
  padding: 8px 16px;
  width: 86px;
  height: 40px;
  background-color: #4e75ff;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}

.feedback-form button:hover,
.feedback-form button:focus {
  background-color: #6c8cff;
}
